# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
data/GeoLite2-City.mmdb
data/GeoLite2-ASN.mmdb
backend/data/threat_intel_content.bson
backend/data/threat_intel_content.json
backend/__pycache__
.vscode